.App {
  text-align: center;
  border: 5px solid blue;
  margin: 150px;
  font-family: "Press Start 2P", cursive;
  color: rgb(0, 225, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.table-country {
  display: flex;
  flex-direction: column;
  border: 15px solid greenyellow;
  align-items: center;
  margin: 10px;
  padding: 50px 175px;
}

.table-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  color: black;
}

.player-score {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
